* {
    box-sizing: border-box;
    padding: 0;
    margin: 5px;
    font-family: Papyrus, monospace;
    background-color: #e5e5e5;
}
header {
    text-decoration: underline;
    color: #3f51b5;
    text-align: center;
}
h2 {
    color: #3f51b5;
}
header p {
    text-decoration: underline;
    text-align: center;
}
 ul {
    list-style: square;
}
 ol {
     list-style: square;
 }
div.container {
    min-height: 65dvh;
    background-image: url("../img/pexels-christina-morillo-1181317.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
table, th {
    border: solid;
    width: 40%;
    text-align: center;
}
tr {
    font-size: 1.2rem;
}
td {
    padding: 10px 15px;
    border: solid;
}
a:link {
    color:red;
}
a:visited {
    color:black;
}
a:hover {
    color:blue;
}
a:active {
    color:green;
}

figure > img {
    width:400px;
    aspect-ratio: 2/1;
}